# Day 3 Session 3D Coding co-lab

[session link](https://eds-217-essential-python.github.io/course-materials/coding-colabs/3d_pandas_series.html)

In [33]:
import pandas as pd
import numpy as np

# Create a sample Series
fruits = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'], name='Fruits')
print(fruits)

0         apple
1        banana
2        cherry
3          date
4    elderberry
Name: Fruits, dtype: object

## Exercise 1

In [25]:
# Create a Series called 'prices' with the same index as 'fruits'
# Use these prices: apple: $0.5, banana: $0.3, cherry: $1.0, date: $1.5, elderberry: $2.0
prices = pd.Series([0.5, 0.3, 1.0, 1.5, 2.0], index=fruits)
print(prices)

Fruits
apple         0.5
banana        0.3
cherry        1.0
date          1.5
elderberry    2.0
dtype: float64

In [20]:
# 1. Calculate the total price of all fruits
print(prices.sum())

# 2. Find the most expensive fruit
print(prices.max())

# 3. Apply a 10% discount to all fruits priced over $1.0

# This worked!! 
prices = prices.mask(prices > 1, prices * 0.9)
print(prices)

5.3
2.0
Fruits
apple         0.50
banana        0.30
cherry        1.00
date          1.35
elderberry    1.80
dtype: float64

## Series Analysis

In [28]:
# 1. Calculate the average price of the fruits
print(prices.mean())

# 2. Count how many fruits cost less than $1.0
print(len(prices[prices < 1.0]))

# 3. Calculate the price range (difference between max and min prices)
(prices.max() - prices.min())

1.06
2

1.7

## Series Manipulation

In [38]:
fruits = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'], name='Fruits')
prices = pd.Series([0.5, 0.3, 1.0, 1.5, 2.0], index=fruits)

In [37]:
# 1. Add 'fig' to both Series (price: $1.2)
fruits[5] = 'fig'
print(fruits)


# 2. Remove 'banana' from both Series


# 3. Sort both Series alphabetically by fruit name

0         apple
1        banana
2        cherry
3          date
4    elderberry
5           fig
Name: Fruits, dtype: object