# Day 3: Session A - If Else

[Link to session webpage](https://eds-217-essential-python.github.io/course-materials/live-coding/3a_control_flows.html)

## Introduction to Control Flows 

Main types are conditionals (changed based on a value) or Loops (repeat based on a value)

### Conditionals

#### Basic If Statement

```python

# must start with a colon
if x:
# must be indented
    print(x)

print("finished")
```

In [3]:
number = 5
if number > 0:
    print("Positive number")

Positive number

In [6]:
# the if statement uses boolean T/F to determine code execution
if True:
    print("Positive number")
    
if False:
    print("Positive number")
# doesn't evaluate

Positive number

#### Adding Else

Yes or No

In [8]:
number = 0
if number > 0:
    print("Positive number") 
else: # the last resort, if all else fails, then else
    print("Not a positive number")

Not a positive number

#### Using Elif

In [10]:
number = 5
if number > 0:
    print("Positive number") 
elif number < 0:
    print("Negative number")
else:
    print("Zero")

Positive number

Use `pass` to avoid code block execution (e.g. as a placeholder)

In [16]:
if grade >= 90: # need to account for the edges! put the equal sign in there
    print("You're doing great")
elif grade < 90 and grade > 80:
    print("Okay!")
elif grade <80 and grade >= 70:
    print("Sure, I guess.")
else:
    print("uh oh...")

You're doing great

### Loops

Loops allow similar things to happen repeatedly to groups of things

#### For Loops
Collections: sets, lists, dictionarys, tuples, etc.

In [20]:
fruits = ['apple', 'banana', 'peach']
for fruit in fruits: #fruit is the iterator
    print(fruit.title()) # capitalizes the first letter

Apple
Banana
Peach

#### While Loops

They will run forever... be careful with them

Evaluate as long as a condition is true

Can use them to read in file, when the text ends it'll stop

In [21]:
count = 5
while count >0:
    print(count)
    count -= 1 # takes count and subtract one from it

5
4
3
2
1

## Applying Control Flows in Data Science

Columns = Keys

Rows = Values

In [27]:
import pandas as pd
data = pd.DataFrame({ 
    'Temperature': [18, 21, 24, 19, 17],
    'Weather': ['rainy', 'sunny', 'sunny', 'cloudy', 'rainy']
})

for temp in data['Temperature']:
    print(temp)

In [29]:
data['Temperature'] > 20

0    False
1     True
2     True
3    False
4    False
Name: Temperature, dtype: bool

In [36]:
data[data['Weather'] == 'sunny'] # give me the rows where weather equals sunny
# returns a list of true false statements that are as long as the rows of data, 
# then returns the rows evaluated as true

   Temperature Weather
1           21   sunny
2           24   sunny

In [35]:
data[:] # all the data, which rows of data do you want?

   Temperature Weather
0           18   rainy
1           21   sunny
2           24   sunny
3           19  cloudy
4           17   rainy

## Conclusion